apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.name }}"
  labels:
    app: "{{ .Values.name }}"
spec:
  replicas: {{ .Values.redis_stack.replicas }}
  selector:
    matchLabels:
      app: "{{ .Values.name }}"
  template:
    metadata:
      labels:
        app: "{{ .Values.name }}"
    spec:
      containers:
      - name: "{{ .Values.name }}"
        image: {{ .Values.redis_stack.image }}:{{ .Values.redis_stack.tag }}
        imagePullPolicy: Always
        ports:
        - containerPort: {{ .Values.redis_stack.redis_server_port }}
          name: db
        - containerPort: {{ .Values.redis_stack.redis_insight_port }}
          name: "{{ .Values.redis_stack.redis_insight }}"
        {{- if .Values.redis_stack.resources }}
        resources:
          {{- if .Values.redis_stack.resources.requests }}
          requests:
            memory: {{ .Values.redis_stack.resources.requests.memory | default "1Gi" | quote }}
            cpu: {{ .Values.redis_stack.resources.requests.cpu | default "10m" | quote }}
          {{- else}}
          requests:
            memory: "{{ .Values.redis_stack.memory }}"
            cpu: "{{ .Values.redis_stack.cpu }}"
          {{- end}}
        {{- end}}
